{# Héritage du template de base #}
{% extends 'base.html.twig' %}

{# Surcharge du block "title" du template de base #}
{% block title %}Modifez votre profile{% endblock %}

{# On prévient symfony que l'on veut use un thème particulier se trouve dans ce fichier #}

{# Surcharge du block "body" du template de base #}
{% block body %}
    <div class="container">
        <h1 class="my-5">Modification du profile </h1>
        {{ form_start(form) }}
            <div class="row">
                <div class="col">
                    <div class="alert alert-light">
                        <h3 class="alert-heading">
                            Informations générales
                        </h3>
                        <hr>
                        {{ form_row(form.firstName) }}
                        {{ form_row(form.lastName) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.picture) }}
                    </div>
                </div>
                <div class="col">
                    <div class="alert alert-light">
                        <h3 class="alert-heading">
                            Détails
                        </h3>
                        <hr>
                        {{ form_row(form.introduction) }}
                        {{ form_row(form.description) }}
                        <hr>
                        <p>Si vous avez terminé vos modifications, vous pouvez les sauvegarder</p>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i>
                            Enregistrer les modifications
                        </button>
                    </div>
                </div>
            </div>

        {{ form_end(form) }}
    </div>
{% endblock %}

{# code javascripts pour ajouter dynamiquement des champs #}
{% block javascripts %}
    <script src="/js/ad.js"></script>
{% endblock %}