{% set url = path('ads_show', {'slug': ad.slug}) %}
<div class="col-md-4">
    <div class="card bg-light mb-3">
        <div class="card-header text-center">
            {{ ad.rooms }} chambres, <strong>{{ ad.price | number_format(2, ',', ' ') }} &euro; par nuit</strong><br/>
            {% if ad.comments|length > 0 %}
                {% include 'partials/rating.html.twig' with {'rating': ad.avgRating} %}
            {% else %}
                <small>Pas encore noté !</small>
            {% endif %}
        </div>
        
        {# {{ path('ads_show', {'slug': ad.slug}) }} = lien vers la route dont le nom est 
            ads_show avec pour paramètre 'slug' dans le controller 'AdController.php' sur la
            fonction 'show' pour afficher l'annonce liée au slug indiqué #}
        <a href="{{ url }}">
            <img src="{{ ad.coverImage }}" alt="Image de l'appartement"
                style="height:100px; width:100%; display: block"/>
        </a>
        

        <div class="card-body">
            <h4 class="card-title">
                <a href="{{ url }}">{{ ad.title }}</a>
            </h4>
            <p class="card-text">
                <a href="{{ url }}">{{ ad.introduction }}</a>
            </p>
            <a href="{{ url }}" class="btn btn-primary float-right" 
                role="button">En savoir plus &raquo;</a>
            {# Ce bouton ne s'affichera que lorsque sile user connecté en est l'auteur de l'annonce #}
            {% if app.user and app.user == ad.author %}
                <a href="{{ path('ads_edit', {'slug':ad.slug}) }}" class="btn btn-secondary">
                    Editer l'annonce</a>
                <a href="{{ path('ads_delete', {'slug':ad.slug}) }}" class="btn btn-danger"
                     id="myLinkToConfirm" data-confirm-title="Attention !" 
                     data-confirm-message="Etes-vous sûr de vouloir supprimer l'annonce: {{ad.title}} ?" >
                    Supprimer l'annonce
                </a>
            {% endif %}
        </div>
    </div>
</div>