{# ad_images représente le champs Image. Pour le confirmer il faut inspecter le champ image dans 
    le navigateur et voir la valeur du "id" #}
{# Ici on définit comment s'affichera le champs "images" #}
{% block _ad_images_widget %}
    <p>Ici, vous pouvez ajouter vos images</p>

    {# la valeur de la variable 'form' qui se trouve dans la fonction 'form_widget' n'est pas la 
        même en fonction du block dans lequel se trouve la fonction 'form_widget' #}
    {{ form_widget(form) }}

    {# Un champs qui n'a pas d'attribut "name" n'est pas envoyé au serveur #}
    <input type="hidden" id="widgets-counter" value="0">

    <button type="button" id="add-image" class="btn btn-primary">Ajouter une image</button>
{% endblock %}

{# Voici comment seront affichés les entry (sous formuylaire) #}
{% block _ad_images_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _ad_images_entry_widget %}
    <div class="form-group" id="block_{{id}}">
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col">
                        {{ form_widget(form.url) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.caption) }}
                    </div>
                </div>
            </div>
            <div class="col-2">
                <button type="button" data-action="delete" data-target="#block_{{id}}" 
                    class="btn btn-danger">X</button>
            </div>
        </div>
    </div>
{% endblock %}
